.list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
}

.list-item span {
  color: #999;
}

.task-title {
  font-family: 'Josefin Sans', serif;
  max-width: 255px;
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-delete i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.btn-edit i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}
